* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    background: #FFF;
    color: #434455;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}





/* Header */
.head {
    display: flex;
    justify-content: inline;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(231, 233, 252, 1);
    padding: 24px 0;
}

.container {
    display: block;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.head .container {
    display: flex;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    gap: 40px;
    text-decoration: none;
}

.accent {
    color: #2E2F42;
}

.nav-list {
    gap: 40px;
    display: flex;
    padding: 0;
}

.nav-links {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;

}

.nav-links:hover,
.nav-links:focus {
    color: #404BBF;

}

.address {
    font-style: normal;
    margin-left: auto;
    display: flex;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-links {
    display: inline;
}

.address-contact {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.address-contact:hover {
    color: #404BBF;
}

.address-contact:focus {
    color: #404BBF;
}

/* Section1 */

.first-section {
    background: #2E2F42;
    padding: 188px 0;
    color: #fff;
    display: inline-block;
    text-align: center;
    align-items: center;
    width: 100%;
}

.hero-title {
    color: #FFF;
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px auto;

}

.button {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;

}

.button:hover {
    background: #404BBF;
}

.button:focus {
    background: #404BBF;
}

/* Section 1 */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hero-section,
.team-section,
.portfolio {
    padding: 120px 0;

}

.hero-list {
    display: flex;
    gap: 24px;
    padding: 0;
}

.hero-links {
    width: calc((100% - 72px) / 4);
}

.advantages,
.team {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.text {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/* Section 2 */

.team-section {
    background: #F4F4FD;
    text-align: center;

}

.titles {
    color: #2E2F42;
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    padding: 0;
    justify-content: space-between;
}

.team-links {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;

}

.worker {
    padding: 32px 0;
}

.team {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.position {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* Section 3 */
.portfolio {

    padding: 120px 0;
}

.portfolio-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-links {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: flex-basis: calc((100% - 3 * 24px) / 4);
}

.projects {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* Footer */
.footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer {
    background: #2E2F42;
    padding: 100px 0;
}

.footer-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;

}

.logo-accent {
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}